﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @Styles.Render("~/Content/css")
    <link href="~/Content/DatePicker/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/DatePicker/bootstrap-datepicker3.css" rel="stylesheet" />

    <link href="~/Content/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/Select2/select2.css" rel="stylesheet" />
    <link href="~/Content/Select2/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Select2/pmd-select2.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-dark default-color">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <strong>Agence</strong>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav3">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect waves-light" href="@Url.Action("Index","Home")"><i class="fa fa-envelope"></i> Performance Comercial</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content" ng-app="AgenceApp">
        @RenderBody()
        <hr />
        <footer>
            <p>Agence - By Carlos Orostegui</p>
        </footer>
    </div>
   
    @Scripts.Render("~/Scripts/app/bundle.js");

    <script src="~/Scripts/DatePicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/tether.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/mdb.js"></script>
    <script type="text/javascript" src="~/Scripts/select2.full.js"></script>
    <script src="~/Scripts/textfield.js"></script>
    <script src="~/Scripts/pmd-select2.js"></script>

 

    @RenderSection("scripts", required: false)
</body>
</html>
